[user]
	email = bartspreij@gmail.com
	name = Bart Spreij

[diff]
    algorithm = histogram

[init]
    defaultBranch = main

[push]
    autoSetupRemote = true

[core]
    pager = delta
	autocrlf = input
	exclusedFile = ~/.gitignore

[merge]
  tool = diffview

[mergetool]
  prompt = false
  keepBackup = false

[mergetool "diffview"]
  cmd = nvim -n -c "DiffviewOpen" "$MERGE"

[merge]
    tool = diffview
    conflictstyle = diff3

[alias]
    undo = reset --soft HEAD^
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate --date=short --color --decorate

[interactive]
    diffFilter = delta --color-only

[include]
    path = ~/.config/delta/catppuccin.gitconfig

[delta]
    features = catppuccin-mocha
    navigate = true
    dark = true
    line-number = true

[safe]
	directory = *
[pull]
	rebase = true
