@import "mocha.css";

* {
    border: none;
    border-radius: 0;
    font-family: "/usr/share/fonts/TTF/IosevkaNerdFontMono-Regular.ttf", monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
    background: transparent;

}

waybar {
    color: @text;
}

#workspaces {
    border-radius: 1rem;
    background-color: @surface0;
    margin-left: 1rem;
}

#workspaces button {
    color: @lavender;
    padding: 0.4rem;
}

#workspaces button.active {
    color: @sky;
    border-radius: 1rem;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 1rem;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 1rem;
}

#workspaces button:hover {
    color: @sapphire;
    border-radius: 1rem;
}

#window,
#clock,
#custom-uair,
#pulseaudio,
#network,
#cpu,
#battery,
#memory,
#workspaces,
#backlight {
    background: @surface0;
    padding: 0rem 0.75rem;
    margin: 0.25rem 0rem;
}

#window {
    color: @text;
    border-radius: 1rem;
}

#clock {
    color: @blue;
    border-radius: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#network {
    border-radius: 1rem 0rem 0rem 1rem;
}


#battery {
    color: @green;
}


#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#backlight {
    color: @yellow;
    border-radius: 0rem 1rem 1rem 0rem;
    margin-right: 0.5rem;
}

#battery {
    border-radius: 0;
}

#pulseaudio {
    color: @maroon;
    border-radius: 1rem 0px 0px 1rem;
}

#pulseaudio.microphone {
    color: @maroon;
    margin-left: 0rem;
    margin-right: 0.5rem;
    border-radius: 0rem 1rem 1rem 0rem;
}

#custom-uair {
    color: @mauve;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

#custom-uair.resumed {
    color: #f87171;
}

#tray {
    color: @surface0;
    font-size: 0;

}

#cpu {
    border-radius: 0rem 1rem 1rem 0rem;
    margin-right: 0.5rem;
}

#memory {
    border-radius: 1rem 0rem 0rem 1rem;
}
